{% extends 'layout.html' %}

{% block body %}
  <div id="app">
    <li v-for="step in steps">
      <i class="fa fa-star-o" aria-hidden="true" :key="step"></i>
    </li>
  </div>
{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
	<!-- <script type="text/javascript" src="/js/phaser.min.js"></script> -->
	<!-- <script type="text/javascript" src="/js/juego.js"></script> -->
{% endblock %}
