<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  {% block styles %}{% endblock %}
  <script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>
</head>
<body>
  <div id="el">hihi</div>
  {% block body %}{% endblock %}
  {% block scripts %}{% endblock %}

  <script type="text/javascript">


  let $el = document.getElementById('el')

window.extAsyncInit = function() {
  $el.innerHTML = MessengerExtensions.isInExtension()
  MessengerExtensions.getUserID(function success(uids) {
    var psid = uids.psid;

    $el.innerHTML = psid

  }, function error(err) {

  });

  };
  </script>
</body>
</html>
